* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

.nav {
  width: 100%;
  height: 65px;
  background: #000;
  color: #fff;
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 999; }
  .nav h1 {
    padding-left: 20px;
    text-align: center;
    float: left;
    padding-top: 15px;
    margin-right: 130px; }
  .nav li {
    float: left;
    line-height: 65px;
    position: relative; }
    .nav li:hover .subnav {
      display: block; }
    .nav li a {
      display: block;
      padding: 0 30px;
      color: #870303;
      font-weight: 700;
      font-size: 18px; }

.li1 {
  color: red;
  font-size: 20px; }

.nav a:hover {
  color: #f00; }

.subnav li {
  background: #c4cac8;
  padding: 0; }

.nav .subnav {
  display: none;
  position: absolute; }

.but {
  position: absolute;
  left: 450px;
  bottom: 30px; }

.but a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background: #000;
  margin-left: 10px;
  color: #fff;
  opacity: 0.5; }

.news {
  width: 1280px;
  height: 540px;
  border: solid 1px #fff; }

.news-left li,
.news-right li {
  background: url("../images/img/jian.jpg") no-repeat;
  float: left; }

.news-left,
.news-right {
  margin: 20px;
  width: 600px;
  float: left; }

.c1,
.c2 {
  float: right; }

.c1,
.c2,
.left1 li,
.right1 li {
  padding-left: 25px; }

.but a:hover {
  opacity: 0.8; }

.pic {
  overflow: hidden;
  height: 700px;
  min-height: 100px; }

.banner {
  position: relative; }

h2 {
  margin-left: 630px;
  padding: 15px 0;
  border-bottom: solid #bbb4b4;
  width: 140px; }

.p1 {
  text-align: center;
  font-size: 25px;
  margin: 20px 0; }

.p2 {
  text-align: center;
  color: #bbb4b4;
  font-size: 21px; }

.left1,
.right1 {
  margin-top: 25px;
  display: block; }

.sen {
  width: 1280px;
  height: 900px;
  border: solid 1px #fff; }

#sen1 {
  width: 284px;
  height: 257px;
  border: solid 1px #000;
  text-align: center;
  font-size: 16px;
  padding-top: 50px;
  float: left;
  margin: 50px 15px 50px 100px; }

.s1 {
  color: #006b61;
  padding: 30px 0; }

#sen1:hover {
  background: #48b1a7;
  color: #fff;
  font-size: 18px; }

#sen1:hover .s1 {
  font-size: 25px; }

#sen1:hover img {
  width: 84px;
  height: 84px; }

.team {
  width: 1280px;
  height: 880px;
  border: solid 1px #fff; }

.e1 {
  margin-left: 600px;
  padding: 15px 0;
  border-bottom: solid #bbb4b4;
  width: 80px;
  margin-bottom: 30px;
  font-size: 28px; }

.e2 {
  margin-left: 600px;
  padding: 15px 0;
  border-bottom: solid #bbb4b4;
  width: 150px; }

.t1 {
  float: left;
  width: 549px;
  height: 360px;
  border: solid 1px;
  background: url("images/t1.jpg");
  margin: 0 20px 20px 100px; }

.t2 {
  float: left;
  width: 549px;
  height: 360px;
  border: solid 1px;
  background: url("images/t2.jpg");
  margin-bottom: 20px; }

.t3 {
  float: left;
  width: 549px;
  height: 360px;
  border: solid 1px;
  background: url("images/t3.jpg");
  margin: 0 20px 50px 100px; }

.t4 {
  float: left;
  width: 549px;
  height: 360px;
  border: solid 1px;
  background: url(images/img/t1.jpg); }

.t11 {
  width: 473px;
  height: 136px;
  border: solid 5px #fff;
  margin: 29px 31px; }

h3 {
  font-size: 24px;
  color: #fff; }

.team div {
  transition: all 1s;
  text-align: center; }

.t1 .r1 {
  display: none;
  transition: all 2s; }

.t1 span {
  display: block;
  color: #fff;
  font-size: 22px; }

.t1:hover .t11 {
  transform: translateY(150px);
  border-radius: 100%; }

.t1:hover .r1 {
  color: #f00;
  display: block; }

.t1:hover span {
  display: none; }

.t2 .r2 {
  display: none;
  transition: all 2s; }

.t2 span {
  display: block;
  color: #000;
  font-size: 22px; }

.t2:hover .t11 {
  transform: translateY(150px) rotate(-360deg);
  border-radius: 100%; }

.t2:hover .r2 {
  color: #0f0;
  display: block; }

.t2:hover span {
  display: none; }

.t3:hover .t11 {
  transform: translateY(150px) rotate(360deg);
  border-radius: 100%; }

.t3 .r3 {
  display: none;
  transition: all 2s; }

.t3 span {
  display: block;
  color: #fff;
  font-size: 22px; }

.t3:hover .r3 {
  color: #ecdf12;
  display: block; }

.t3:hover span {
  display: none; }

.t4:hover .t11 {
  transform: translateY(150px) skewY(180deg);
  border-radius: 100%; }

.t4 .r4 {
  display: none;
  transition: all 2s; }

.t4 span {
  display: block;
  color: #fff;
  font-size: 22px; }

.t4:hover .r4 {
  color: #107eef;
  display: block; }

.t4:hover span {
  display: none; }

.r1,
.r2,
.r3,
.r4 {
  color: #fff; }

.pro1 {
  padding: 35px 0;
  text-align: center; }

.art1 {
  width: 100%;
  height: 165px;
  background: #000;
  color: #fff;
  padding: 25px 0; }

.art-left {
  width: 255px;
  height: 165px;
  float: left;
  padding-left: 300px; }

.art-left li {
  padding: 3px 0; }

.art-left li a {
  color: #fff; }

.art-left li a:hover {
  text-decoration: underline; }

.art-center {
  width: 205px;
  height: 165px;
  float: left;
  margin-right: 100px; }

.art-center p {
  margin-top: 10px; }

.art-right {
  width: 280px;
  height: 165px;
  float: left; }

.ni {
  height: 450px;
  background: #000;
  padding-left: 20px;
  background: url("images/img/003.jpg"); }

.ni1 {
  width: 400px;
  height: 370px;
  float: left;
  opacity: 0.5; }

.ni2 {
  padding-top: 35px; }

.ni3 {
  float: left; }

.put {
  width: 300px;
  height: 50px;
  margin: 35px 10px;
  border-radius: 5px; }

.pu {
  width: 500px;
  height: 295px;
  float: left;
  border-radius: 5px;
  borde: solid 1px #8c2099;
  opacity: 0.5; }

.pt {
  width: 230px;
  height: 50px;
  border-radius: 5px;
  background: #0072ac;
  margin: 100px 50px;
  opacity: 0.8; }

#in1 {
  width: 200px;
  height: 40px;
  border-radius: 5px; }

#in2 {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background: #0072ac;
  text-align: center; }

form {
  margin-top: 30px; }

.footer {
  text-align: center;
  border-top: solid 1px #fff;
  font-size: 18px;
  color: #fff;
  background: #000;
  padding: 20px 0; }

.end {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 999; }

/*# sourceMappingURL=demo01.css.map */
